
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    direction: rtl;
    height: 100vh;
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    background-color: aliceblue;
}

h3{
    padding: 0.5rem;

}

#userform{
    display: grid;
    gap: 1rem;
}

#userform input{
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

button{
    background-color: rgb(55, 110, 212);
    padding: 0.5rem;
    border-radius: 8px;
     border: 1px solid gainsboro;
     color: white;
}

#modal{
    opacity: 0;
    visibility: hidden;

    
}

.buttons button{
    display: grid;
    width: 100%;
    cursor: pointer;
}

.overaly{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
    transition: all 1s ;
}

.modal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: white;
    padding: 30px;  
    border-radius: 10px;
    z-index: 10;
    min-width: 300px;
    max-width: 90%;
    transition: all 1s;
    width: 100vw;
}

.modal li{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 1rem;
    text-align: right;
}